# The variable to connect to with mysql
# Change this file name to .env and fill in with real data

# Change here
MYSQL_ROOT_PASSWORD=choose_a_password_here
MYSQL_DATABASE=test_login
PORT_DATABASE=3306
DATABASE_URL=mysql://<user>:<password>@<host>:<port>/<database>
